h1 {
    margin: 0;
    color: #2c3e50;
    ;
}

h4 {
    margin: 0;
    color: #80addd;
}

h6 {
    margin: 0;
    color: #a1a3a5;
}

body {
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    background: #f6f7fc;
}

.card {
    position: relative;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem;
    line-height: 4rem;
    color: #ecf0f1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0.8rem;
    transform-style: preserve-3d;
}

.face {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
    transition: 0.4s ease-in-out;
}

.face--front {
    background: #2c3e50;
    color: #ffffff;
    font-size: 1.5rem;
    transform: rotateX(0deg);
}

.face--back {
    background: #a1b5c9;
    color: #2c3e50;
    font-size: 0.9rem;
    transform: rotateX(90deg);
}

.card:hover .face--front {
    transform: rotateX(-90deg);
}

.card:hover .face--back {
    transform: rotateX(0deg);
}